<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link href="stylesheets/table_styler.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
    <div class="main_editor">
        <table>
            <tr>
                <td>Latitude (AutoFill capable)</td>
                <td>Longitude (AutoFill capable)</td>
                <td>Research Sites</td>
                <td>Project</td>
                <td>Principle Investigator</td>
                <td>Co-PIs</td>
                <td>Collaborators (not funders)</td>
                <td>Research Keywords (AutoFill capable)</td>
                <td>Funding Period</td>
                <td>Funder</td>
                <td>Image URL</td>
            </tr>
            <tr>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
            </tr>
            <tr>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
            </tr>
        </table>
    </div>
    <script src="scripts/render_images.js"></script>
</body>
</html>
