<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link href="/sfu-research-db/stylesheets/table_styler.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
    <div id="description" style="font-weight:600; padding: 10px;">Database Management System (Research Sites)</div>
    <div id="description" style="font-weight:600; padding: 10px; float:right;"><%= sfu_id %> in Production as <%= db_type %>.</div>
    <input type="text" id="search_bar" placeholder="Search a record" style="width: 99.5%;" oninput="searchDB()" />
    <div class="main_editor" style="width: 100%; overflow: scroll;">
        <table>
            <tr>
                <td>Latitude (AutoFill capable)</td>
                <td>Longitude (AutoFill capable)</td>
                <td>Research Sites</td>
                <td>Project</td>
                <td>Principle Investigator</td>
                <td>Co-PIs</td>
                <td>Collaborators (not funders)</td>
                <td>Research Keywords (AutoFill capable)</td>
                <td>Funding Period</td>
                <td>Funder</td>
                <td>Image URL</td>
            </tr>
            <tr>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
            </tr>
            <tr>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
                <td><input id="1" type="text" /></td>
            </tr>
        </table>
    </div>

    <div class="navigator" style="float:right; padding: 6px;">
        <button onclick="movePtr(-1)">Previous</button><index id="counter_id"style="padding: 6px;">0-10</index><button onclick="movePtr(1)">Next</button>
    </div>
    <div id="entry_add">
        <div id="description" style="font-weight:600; padding: 10px; ">Add New Database Entry</div>
        <div class="add_entry" style="width: 100%; padding-bottom: 60px; overflow: scroll;">

            <table>
                <tr>
                    <td>Latitude (Required)</td>
                    <td>Longitude (Required)</td>
                    <td>Research Sites</td>
                    <td>Project (Required)</td>
                    <td>Principle Investigator</td>
                    <td>Co-PIs</td>
                    <td>Collaborators (not funders)</td>
                    <td>Research Keywords</td>
                    <td>Funding Period (Required)</td>
                    <td>Funder</td>
                    <td>Image URL</td>
                </tr>
                <tr>
                    <td><input type="number" id="add_lat" value="" oninput="updateDB(updateList.length - 1)" onclick='indicate("add_lat", numeric_not_empty)' onkeyup='indicate("add_lat", numeric_not_empty)'></td>
                    <td><input type="number" id="add_long" value="" oninput="updateDB(updateList.length - 1)" onclick='indicate("add_long", numeric_not_empty)' onkeyup='indicate("add_long", numeric_not_empty)'></td>
                    <td><input type="text" id="add_rs" value="" oninput="updateDB(updateList.length - 1)"></td>
                    <td><input type="text" id="add_proj" value="" oninput="updateDB(updateList.length - 1)" onclick='indicate("add_proj", not_empty)' onkeyup='indicate("add_proj", not_empty)'></td>
                    <td><input type="text" id="add_pi" value="" oninput="updateDB(updateList.length - 1)"></td>
                    <td><input type="text" id="add_cpi" value="" oninput="updateDB(updateList.length - 1)"></td>
                    <td><input type="text" id="add_collabs" value="" oninput="updateDB(updateList.length - 1)"></td>
                    <td><input type="text" id="add_kw" value="" oninput="updateDB(updateList.length - 1)"></td>
                    <td><input type="number" id="add_fperiod" value="" oninput="updateDB(updateList.length - 1)" onclick='indicate("add_fperiod", numeric_not_empty)' onkeyup='indicate("add_fperiod", numeric_not_empty)'></td>
                    <td><input type="text" id="add_fund" value="" oninput="updateDB(updateList.length - 1)"></td>
                    <td><input type="text" id="add_url" value="" oninput="updateDB(updateList.length - 1)"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="options">
        <!--<div id="selector"><input type="image" style="width: 60px; height: 60px;" src="icons/add_plant.png"></div>-->
        <div id="selector">
            <% if(db_type == "Administrator"){ %>
            <div class="tooltip">
                <input type="image" style="width: 60px; height: 60px;" src="/sfu-research-db/icons/console.png" id="submit_updates" onclick="consoleSQL()">
                <span class="tooltiptext">Run a limited set of SQL commands directly from the app.</span>
            </div>
            <% } %>
            <% if(db_type == "Manager" || db_type == "Administrator"){ %>
            <div class="tooltip">
                <input type="image" style="width: 60px; height: 60px;" src="/sfu-research-db/icons/delete_all.png" id="submit_updates" onclick="deleteAll()">
                <span class="tooltiptext">Delete all visible data entries.</span>
            </div>
            <div class="tooltip">
                <input type="image" style="width: 60px; height: 60px;" src="/sfu-research-db/icons/add_csv.png" id="csv_upload" onclick="manualHandler(event)">
                <span class="tooltiptext">Bulk add entries directly from a csv file.</span>
            </div>
            <% } %>
            <div class="tooltip">
                <input type="image" style="width: 60px; height: 60px;" src="/sfu-research-db/icons/upload_file.png" id="submit_updates" onclick="sendUpdates()">
                <span class="tooltiptext">Upload changes to the database.</span>
            </div>
            <div class="tooltip">
                <input type="image" style="width: 60px; height: 60px;" src="/sfu-research-db/icons/logout.png" onclick="window.location.replace('/sfu-research-db/logout')">
                <span class="tooltiptext">Log out of the database management system.</span>
            </div>
        </div>
    </div>
    <script src="/sfu-research-db/scripts/render_table.js"></script>
</body>
</html>
